ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.container{
  font-size: 20px;
  font-weight: 400;

}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.inputRadio{
  margin-top:  100px;
padding: 0;
width :100%;
list-style-type: none;
background-color: #fff;
border-top: 1px solid #ddd;
list-style-type: none;
height :100px;
font-size: 1.5rem;
font-weight: 400;
}

.inputradiooption {
  margin: 0;
padding: 20px;
cursor:  pointer;
list-style-type: none;
background-color: #fff;
border-top: 1px solid #ddd;
border-bottom:  1px solid #ddd;
background-position: 50%;
transition: background .6s;
}
